{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Safe Chicago</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <img src="{% static "chicago_flag.png" %}" alt="logo" 
            style='width:100px;height:50px;' />
            <h1>Safe Chicago</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div id="crime_link">
            <form action="{% static "Chicago map.html" %}"
            target="_blank">
            <input type="submit" value="View Heat Map">
            </form>
            <form action="{% static "docfiles/safe.html" %}"
            target="_blank">
            <input type="submit" value="View Documentation">
            </form>
        </div>        
        {% if directions %}        
        <div class="frame" id=direction style="width: 400px; height: 500px;">
            <table class="directions" id="direction_tbl">
                <tr id="header_row">
                    <th>Step</th>
                    <th>Direction</th>
                </tr>
                {% for direction in directions %}
                <tr id="direction_row">
                    <td>{{forloop.counter}}</td>
                    <td>{{direction}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <iframe style="display: inline-block;" 
        id="short_path_map"
        title="Short_Path_Map"
        src="{% static "route_graph.html" %}"
        align="right">
        </iframe>
        {% endif %}
        {% if err %}    
        <div class="error">
            {{ err|safe }}
        </div>      
        {% endif %}
